<%= form_with(model: identificacao, local: true) do |form| %>
  <% if identificacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(identificacao.errors.count, "error") %> prohibited this identificacao from being saved:</h2>

      <ul>
      <% identificacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :identificacao_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :identificacao_description %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.datetime_select :data, id: :identificacao_data %>
  </div>

  <div class="field">
    <%= form.label :public_id %>
    <%= form.text_field :public_id, id: :identificacao_public_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
